.App {
  text-align: center;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  height: 200px;
  width: 200px;
  border: 2px solid #191923;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px;
}

.box p{
  align-self: center;
  color: #fbfef9;
  text-shadow: #191923 4px 4px 8px;
  font-weight: 900;
  font-size: 5rem;
}


button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #191923;
  margin:1em 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#191923;
  text-align:center;
  transition: all 0.2s;
  font-size: 2em;
}
button:hover{
  color:#fbfef9;
  background-color:#191923;
}